<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <br>
        <div class="card">
            <div class="card-body">
                <h3> <%= pergunta.titulo %> </h3>
            </div>
            <div class="card-footer">
                <p> <%= pergunta.descriçao %> </p>
            </div>
        </div>
        <br>
        <form method="POST" action="/responder">
            <label class="label-corpo" for="">Responder:</label>
            <textarea name="corpo" class="form-control" placeholder="Digite sua Resposta"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <br>
        <% respostas.forEach((resposta) =>{ %>
            <br>
            <div class="card">
                <div class="card-body"> 
                    <p><%= resposta.corpo %></p>             
                </div>
            </div>
        <%})%>
    </div>



<%- include('./partials/footer.ejs') %>